.title, .subtitle,.form-label{
    color: darkslategray;
    text-shadow: 1px 1px 3px darkslategray;}

.add-tests-section{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.tests{
    display: inline-block;

    border: 1px solid gray;
    margin-right: 20px;
    margin-top: 20px;
    padding: 5px 10px;
}

.tests-container{
    margin-top: 30px;
}

.tests > p{
   display: inline; 
   padding-right: 13px;
   
}

.border{
    border-radius: 10px;
}

.card{
    border-radius: 10px;
    max-width:  40rem;
}

.add > button{
    margin-top: 10px;
}
