<div class="card">
    <div class="card-body add-tests-section">
      <div class= "header">
        <h5 class="card-title title"><b>Patient</b></h5>
      </div>
      <div class = "tests-container">
        <h6 class="card-subtitle subtitle"><b>Selected</b></h6>
        <!--div class = "tests border mb-4" *ngFor = "let t of test">
          <p>{{t.name}}</p>
          <small>X</small>
        </div-->
      </div>
      <div class="mb-3 add">
        <label for="exampleInputEmail1" class="form-label"><b>Search</b></label>
        <input type="email" class="form-control" id="exampleInputEmail1" 
         aria-describedby="emailHelp" >
        <!-- <button class = "btn btn-primary" (click) = "AddTest()">Add</button> -->
      </div>
    </div>
  </div>
