<div class="summary-1Rx3C">

    <div class="container-fluid">
        <div class="row cards">
            <div class="col-sm-4 card" >
              <div class="card-body">
                <h5 class="card-title">Accepted Appointments</h5>
                <h4 class="card-text">77 Today</h4>
              </div>
            </div>
            <div class="col-sm-4 card">
                    <div class="card-body">
                      <h5 class="card-title">Total Appointments</h5>
                      <h4 class="card-text">02 Today</h4>
                    </div>
            </div>
            <div class="col-sm-4 card">
                    <div class="card-body">
                      <h5 class="card-title">Cancelled Appointments</h5>
                      <h4 class="card-text">04  Today</h4>
                    </div>
            </div>
        </div>
    </div>

    <!--div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title1</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title2</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title3</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title4</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div-->

</div>