
<!-- Sidebar -->
<div class="side-navbar">
    <nav class="navbar">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span>
                  Connect My Doc<i class="fa-solid fa-bars" id="icon-1"></i>
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Dashboard" id="Dashboard">Dashboard
                <span class="material-icons" id="icon">
                  leaderboard
                  </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Patients" id="Patients">Patients
                <span class="material-icons" id="icon">
                  person
                  </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Chat-Room" id="Chat-Room">Chat Rooms
                <span class="material-icons" id="icon">
                  forum
                  </span>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="Settings" id="Settings">Settings
                  <span class="material-icons" id="icon">
                    settings
                    </span>
                </a>
              </li>
          </ul>
        </div>
      </nav>
</div>

