div.side-navbar{
    width:12%;
    /* display: block;  */
    position: absolute;
    height: 920px;
    background-color:rgb(23, 23, 97);
    /* color:white; */
}
a.nav-link{
    color: white;
}
#icon1{
    /* align-self: right; */
    padding-left: 15px;
}