.example-header-image {
    background-image: url('https://thumbs.dreamstime.com/b/passport-document-id-photo-business-man-portrait-concept-young-handsome-stylish-guy-formal-wear-white-background-119717703.jpg');
    background-size:cover;
    width: 80px;
    height: 80px;
}
.card{
    width: 100%;
    float: left;
    padding: 15px;
    border-radius: 20px;

    /* border: 2px solid red; */
    box-shadow: 1px 1px 3px darkslategray;
}
.my-call-mail{
    width: 50%;
    line-height: 40px;
    float: left;
}
#vertical-rule{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
.my-npi-no-location{
    line-height: 40px;
    float: left;
}
#t1,#t3{
    font-weight: 100;
}
#t2{
    font-weight: bolder;
    font-size: larger;
}