<div class="card">
    <div class="float-container">

        <div class="float-child">
          <div class="green">Float Column 1</div>
        </div>
        
        <div class="float-child">
          <div class="blue">
              <div class= "header">
                    <p class="title">Doctor</p>
                    <p class="human-name"><b>KCS Kishore chowdary</b></p>
                    <p class="human-info">Cardiologist</p>
                </div>
            </div>
        </div>
        
      </div>
</div>
