<!-- top bar -->
<div class="top-bar">
    <table>
        <tr>
            <td>
                <h3 class="appointments">Appointments</h3>
            </td>
            <td>
                <button class="location ">
                    <i class="fa-solid fa-location-dot"></i>
                    Location
                    <i class="fa-solid fa-angle-down"></i>
                    
                </button>
            </td>
            <td>
                <button class="doctor ">
                    <i class="fa-solid fa-stethoscope"></i>
                    Dr.Kishore
                    <i class="fa-solid fa-angle-down"></i>
                </button>
            </td>
            <td>
                <a class="new-appointment ">
                    <i class="fa-regular fa-circle-dot" id="icon1"></i>
                    New Appointment
                </a>
            </td>
        </tr>
    </table>
</div>