<!-- top bar -->
<div class="nav d-flex justify-content-around">

    <h3 class="appointments">Appointments</h3>
    
    <button class="btn" id="location ">
        <i class="fa-solid fa-location-dot"></i>
        Location
        <i class="fa-solid fa-angle-down"></i>
    </button>
    <button class="btn" id="doctor ">
        <i class="fa-solid fa-stethoscope"></i>
        Dr.Kishore
        <i class="fa-solid fa-angle-down"></i>
    </button>
    <button class="btn" id="new-appointment ">
        <i class="fa-regular fa-circle-dot" id="icon1"></i>
        New Appointment
    </button>
</div>